body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main {
    font-size: 72px;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
}

#text {
    margin: 50px;
    overflow: hidden;
}